@*@{*@
@*    Layout = "~/Views/Shared/_Layout.cshtml";*@
@*    PageFormat pages = Model.PageFormat;*@
@*}*@
@**@
@*<table class="table table-condensed table-striped">*@
@*    <thead>*@
@*    <tr>*@
@*        @for (int i = 0; i < Model.Properties.Count; i++)*@
@*        {*@
@*            <th class="center">*@
@*                @Model.Properties[i].Name*@
@*            </th>*@
@*        }*@
@*    </tr>*@
@*    </thead>*@
@*    <tbody>*@
@*    @for (int i = pages.RecordStartIndex; i < pages.RecordStopIndex; i++)*@
@*    {*@
@*        <tr>*@
@*            @for (int j = 0; j < Model.Properties.Count; j++)*@
@*            {*@
@*                <td class="@Model.Properties[j].Alignment">*@
@*                    @Model.Properties[j].Format(Model.Records[i])*@
@*                </td>*@
@*            }*@
@*        </tr>*@
@*    }*@
@*    </tbody>*@
@*</table>*@
@**@
@*@if (1 < pages.Count)*@
@*{*@
@*    <a href="@pages.Previous(Model.Url)" class="btn btn-default @(pages.IsFirstPage ? "disabled" : null)">*@
@*        Previous*@
@*    </a>*@
@*    <a href="@pages.Next(Model.Url)" class="btn btn-default @(pages.IsLastPage ? "disabled" : null)">*@
@*        Next*@
@*    </a>*@
@**@
@*    <label>*@
@*        @pages.Current of @pages.Count*@
@*    </label>*@
@*}*@